openapi: 3.0.1
servers:
  - url: https://development.gigantic-server.com/v1
info:
  title: API V1
  version: v1
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
paths:
  "/api/v1/authentication/invitations/accept":
    put:
      operationId: Invitation
      summary: Performs invitation acceptance
      tags:
        - Invitation
      parameters: []
      responses:
        "200":
          description: Ok
          content:
            application/json:
              examples:
                textExample:
                  summary: This is a text example
                  value: Ok
        "422":
          description: unprocessable_entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    example:
                      - title: Validation error
                        details:
                          - is invalid
                        source:
                          pointer: token
                required:
                  - errors
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  example: Pj8W44CCsuL9yYsZfuF_
                password:
                  type: string
                  example: "&!PeH6mHq2"
                password_confirmation:
                  type: string
                  example: "&!PeH6mHq2"
              required:
                - token
                - password
                - password_confirmation
        required: true
security:
  - bearer_auth: []
components:
  securitySchemes:
    bearer_auth:
      type: http
      scheme: bearer
      bearerFormat: JWT

